body {
    background-color: black;
    color: white;
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}

.calculator {
    /* width: 300px; */
    margin: 0 auto;
    padding: 20px;
    border: 2px solid orangered;
    border-radius: 1em;
    text-align: center;
    justify-content: center;
    display: flex;
    flex-direction: column;
}

h1 {
    color: orangered;
    text-transform: uppercase;
    font-size: x-large;
}

.input-container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    /* margin: 10px; */
}

input {
    width: 200px;
    height: 20px;
    text-align: center;
    margin: 10px;
    font-size: larger;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
}

button {
    padding: 10px 20px;
    border: none;
    border-radius: .5em;
    background-color: orangered;
    color: white;
    cursor: pointer;
    transition: all .5s;
}

button:hover {
    background-color: transparent;
    border: 2px solid;
    transform: scale(1.01);
}

.result {
    margin-top: 20px;
    background-color: rgb(15, 8, 8);
    font-size: x-large;
}